<!DOCTYPE HTML>
<html lang="en">
    <head>
        @await Html.PartialAsync("MetatagsPartial")
        @await Html.PartialAsync("CssPartial")
    </head>
    <body>
        @await Html.PartialAsync("HeaderPartial")

        @RenderBody()

        @await Html.PartialAsync("FooterPartial")
    </body>
</html>